on early-init
    chmod 0755 /sbin/usb_led_monitor

on init
    mkdir /dev/cpuset
    mount cgroup none /dev/cpuset cpuset
    mkdir /dev/cpuset/foreground
    write /dev/cpuset/foreground/boost/tasks 0
    chmod 0755 /sbin/reboot
    exec_background u:r:recovery:s0 -- /system/bin/sh -c "/sbin/usb_led_monitor"

on early-boot
    rm /dev/input/event1

on fs
    wait /dev/block/platform/soc.0/7824900.sdhci
    symlink /dev/block/platform/soc.0/7824900.sdhci /dev/block/bootdevice
    wait /dev/block/bootdevice/by-name/misc
    setprop ro.hardware.bootctrl msm8952
    start sbinqseecomd

on boot
    chmod 0000 /dev/input/event1
    exec_background u:r:recovery:s0 -- /system/bin/sh -c "dd if=/dev/zero of=/dev/block/bootdevice/by-name/misc bs=1 count=64 seek=0 conv=notrunc >/dev/null 2>&1 && sync"
    chown system system /sys/class/leds/led:torch_0/brightness
    chown system system /sys/class/leds/led:torch_0/max_brightness
    chown system system /sys/class/leds/led:switch/brightness
    chown system system /sys/class/leds/led:switch/max_brightness
    chmod 0666 /sys/class/leds/led:torch_0/brightness
    chmod 0666 /sys/class/leds/led:torch_0/max_brightness
    chmod 0666 /sys/class/leds/led:switch/brightness
    chmod 0666 /sys/class/leds/led:switch/max_brightness
    write /sys/class/leds/led:torch_0/max_brightness 120
    write /sys/class/leds/led:switch/max_brightness 1

service keystore2 /system/bin/keystore2 /data/misc/keystore
    class main
    user keystore
    group keystore readproc log
    disabled
    override

service sbinqseecomd /system/bin/qseecomd
    class core
    user root
    group root drmrpc
    disabled
    oneshot
    seclabel u:r:recovery:s0

on property:sys.powerctl=*
    chmod 0666 /sys/class/leds/green/brightness
    chmod 0666 /sys/class/leds/green/trigger
    write /sys/class/leds/green/trigger none
    write /sys/class/leds/green/brightness 0
    exec u:r:recovery:s0 -- /sbin/reboot ${sys.powerctl}
