on init
    chmod 0755 /sbin/reboot

on early-boot
    rm /dev/input/event1

on fs
    wait /dev/block/platform/soc.0/7824900.sdhci
    symlink /dev/block/platform/soc.0/7824900.sdhci /dev/block/bootdevice
    
    install_keyring
    setprop ro.hardware.bootctrl msm8952
    start sbinqseecomd

on boot
    chmod 0000 /dev/input/event1
    exec u:r:init:s0 -- /sbin/sh -c "dd if=/dev/zero of=/dev/block/bootdevice/by-name/misc bs=1 count=64 seek=0 conv=notrunc >/dev/null 2>&1 && sync"

service sbinqseecomd /system/bin/qseecomd
    class core
    user root
    group root drmrpc
    disabled
    oneshot
    seclabel u:r:init:s0

on property:sys.powerctl=*
    exec u:r:init:s0 -- /sbin/reboot ${sys.powerctl}